<h1> Log in!</h1>
<% if flash[:errors] %>
 
  <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    </ul>
  <% end %>
<% end %>

<form action="<%= session_url %>" method="POST">
  
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">

  <p>
    <label for="user_name">Name:</label>
    <input type="text" name="user[user_name]" id="user_name">
  </p>


  <p>
    <label for="password">Password:</label>
    <input type="text" name="user[password]" id="password">
  </p>

  <p>
    <input type="submit" value="Submit">
  </p>
</form>
